* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #124E78;
}

h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    color: #6e0e0a;
    font-size: 4em;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #CFCCD6;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at center center);
}

.innerText {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    color: #fff;
    text-align: center;
    width: 100%;
}

.text {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 2px #6e0e0a;
    text-align: center;
    width: 100%;
}

.container {
    position: relative;
    margin-top: 200vh; 
    background: #CFCCD6;
    padding: 100px;
    color: #6e0e0a;
}

.container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}