@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gruppo', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0C6291;
}
h1{
    position: relative;
    font-size: 10vh;
    color: #0C6291;
    text-transform: uppercase;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #FBFEF9;
    border-right: 2px solid #FBFEF9;
    overflow: hidden;
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}