*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	background: #f7f7f7;
}

span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .5);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.letter{
    background: url('view.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
	height: 35px;
	width: 35px;
	border: 2.5px solid black;
	border-radius: 50%;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);
	animation: letter 3s ease-in-out infinite alternate;
}

@keyframes span {
	0%,30%{ 
        margin: 0 15px; 
    }
	70%,100%{ 
        margin: 0 5px; 
    }
}
@keyframes letter {
	0%,30%{ 
        height: 35px;
        width: 35px; 
    }
	70%,100%{ 
        height: 700px;
        width: 700px; 
        filter: grayscale(0);
    }
}