@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ff0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    padding: 30px 100px;
}

header .logo {
    positon: relative;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    position: relative;
    list-style: none;
    margin-left: 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

